<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.sichard.lockscreen">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application>
        <activity
            android:name=".LockScreenActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/LockScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.LOCK_SCREEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
    </application>

</manifest>
